:root {
  --pink: #f18daf;
  --light: #a6dfe6;
  --turquoise: #64cacc;
  --blue: #4d89a3;
  --grey: #767c8a;
  --marengo: #4c5467;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  color: black;
  font-size: 26px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}