:root {
  --pink: #f18daf;
  --light: #a6dfe6;
  --turquoise: #64cacc;
  --blue: #4d89a3;
  --grey: #767c8a;
  --marengo: #4c5467;
}

/* стили для компонента ProgressHeader*/

.progress-header {
    background: var(--turquoise);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    color: white;
}

.progress-header h1 {
    margin: 0 0 10px 0;
}

.progress-bar {
    width: 100%;
    height: 18px;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background: var(--pink);
  width: 0%;
  transition: width .4s ease;
}